<link rel="stylesheet" href="/stylesheets/footer.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/common.css" media="screen" title="no title" charset="utf-8">
<footer class="footer">
    <a href="/" class='footer'>developed by liadbiz</a>
</footer>
